@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #aaa;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid black;
  border-radius: 12px;
}

.display {
  background-color: white;
  border: 1px solid black;
  height: 20%;
  margin: 1em 1em 0 1em;
  padding: 0.5em;
  position: relative;
}

.display-text {
  font-size: 1.5rem;
  position: absolute;
  right: 5%;
}

.edit {
  display: flex;
  justify-content: space-evenly;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.edit button {
  width: 43.8%;
}

#clear {
  background-color: #ffcccb;
}

#clear:hover {
  background-color: #ffaaa9;
}

#clear:active {
  background-color: #ff8886;
}

#backspace {
  background-color: #aaf;
}

#backspace:hover {
  background-color: #99e;
}

#backspace:active {
  background-color: #88d;
}

button {
  width: 20%;
  height: 50px;
  outline: none;
  border: 2px solid black;
}

.number-btn,
#equals {
  background-color: #fff;
}

.number-btn:hover,
#equals:hover {
  background-color: #eee;
}

.number-btn:active,
#equals:active {
  background-color: #ccc;
}

.operator-btn {
  background-color: #fcd299;
}

.operator-btn:hover {
  background-color: #fcb266;
}

.operator-btn:active {
  background-color: #fc9244;
}

#result {
  margin-top: 0.2em;
  font-size: 2.5rem;
  font-weight: bold;
  position: absolute;
  right: 5%;
  bottom: 10%;
}
